* {
    padding: 0;
    margin: 0;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    user-select: none;
}

body {
    overflow: hidden;
}

div {
    /* transition: .2s ease-in-out; */
}

.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    background: rgb(233, 233, 233);
}

/*меню с паузой и настройками*/
#menu {
    position: absolute;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    background: rgb(233, 233, 233);
    z-index: 99;
    transition: .2s linear;
}
/*кнопка начать игру в главном меню*/
.btn_start {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 150px;
    height: 15%;

    box-shadow: 0px 5px 15px rgb(148, 148, 148);

    font-size: 2em;
    color:rgb(99, 99, 99);

    border-radius: 35px;
    background: rgb(139, 233, 167);
    transition: .2s ease-in;
}
.btn_start:active {
    color:rgb(245, 191, 44);
    box-shadow: 0px 3px 5px rgb(148, 148, 148);
}

/*лого игры в главном меню*/
.logo {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 250px;
    aspect-ratio: 1 / 1;

    box-shadow: inset 0px 5px 15px rgb(148, 148, 148);

    overflow: hidden;

    border-radius: 100%;
    background: rgb(255, 255, 255);
    transition: .2s ease-in;
}

/*кнопка вкл/выкл музыку*/
#button_music {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 40px;
    height: 40px;

    top: 20px;
    right: 20px;

    /* background: #a1a1a1; */
    transition: .2s linear;
}
#button_music:active {
    transform: scale(1.1);
}

/*кол-во NPC*/
#count_npc {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40px;
    height: 40px;

    top: 20px;
    right: 60px;

    font-weight: bold;
    color:rgb(99, 99, 99);

    /* background: rgb(151, 219, 221); */
    /* z-index: 1; */
    transition: .2s linear;
}

/*кол-во очков*/
    #count_score {
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        width: 100%;
        height: 10px;

        top: 0px;

        background: rgb(151, 219, 221);
        /* z-index: 1; */
        transition: .2s linear;
    }

/*блок, куда тащим*/
    /*основной целевой блок*/
    .droppable {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        height: 50%;
        max-height: 250px;
        aspect-ratio: 1 / 1;
        
        transform: scale(0);
        border-radius: 30px;
        box-shadow: 0px 5px 15px rgb(148, 148, 148);

        background: rgb(250, 250, 250);
        transition: .2s ease-in;
        z-index: 1;
    }
    .droppable svg {
        height: 100%;
        transition: .2s linear;
    }

/*скелет персонажа*/
    .item_main_block,.item_body,.item_head,.item_ear,
    .item_eye_main,.item_eye,.item_mouth,.item_foot,.item_tail {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    /*главный*/
        .item_main_block {
            position: absolute;
            justify-content: space-around;

            top: calc(100% - 80px);
            left: -300px;

            height: 55px;
            /* transform: scaleX(-1);зеркально отразить по горизонтали */

            /* background: rgb(221, 226, 145); */
            z-index: 6;
            transition: .5s ease-in-out;
        }
        /*главный поверх. За который цепляем мышкой*/
        .item_main_block_up {
            position: absolute;
            top: 0px;
            right: 0px;
            opacity: .6;
            
            width: calc(100% + 20px);
            height: calc(100% + 20px);

            cursor: pointer;

            /* background: rgb(104, 69, 109); */
            z-index: 8;
        }
    /*тело*/
        .item_body {
            position: relative;
            animation: stay_pers_body 1s ease-in-out infinite;
            z-index: 4;
        }
    /*голова*/
        .item_head {
            position: absolute;

            top: 0px;
            left: -40px;

            /* background: rgb(226, 178, 46); */
            animation: stay_pers_head 1s ease-in-out infinite;
            z-index: 4;
        }

    /*ухо*/
        .item_ear {
            position: absolute;
            
            bottom: calc(100% - 10px);
            
            /* background: rgb(226, 178, 46); */
            z-index: 4;
        }
    /*блок для глаз*/
        .item_eye_main {
            position: absolute;
            justify-content: space-around;
            width: 100%;
            height: 20px;
            
            /* background: rgb(209, 153, 153); */
            z-index: 4;
        }
    /*глаз*/
        .item_eye {
            border-radius: 100%;
            
            /* background: rgb(65, 175, 80); */
            z-index: 4;
        }
    /*рот*/
        .item_mouth {
            position: absolute;
            width: 80%;
            height: 0px;

            bottom: 0px;
            border-radius: 5px;

            background: rgb(233, 143, 107);
            z-index: 4;
        }
    /*нога*/
        .item_foot {
            position: absolute;

            top: calc(100% - 10px);

            border-bottom: 2px solid;

            transform-origin: top center;
            
            /* background: rgb(226, 178, 46); */
            z-index: 4;
        }
    /*хвост*/
        .item_tail {
            position: absolute;

            transform-origin: top center;
            transform: rotate(240deg);
            
            /* background: rgb(241, 214, 138); */
            animation: stay_pers_tail 1s ease-in-out infinite;
            z-index: 4;
        }
    /*над головой*/
        .item_polo {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            min-width: 35px;
            min-height: 35px;

            top: -55px;

            border-radius: 100%;
            border: 1px solid rgb(196, 196, 196);

            font-size: 1.5em;
            font-weight: bold;

            color: rgb(36, 199, 36);
            background: rgb(255, 255, 255);
            animation: stay_pers_body .5s ease-in-out infinite;
            z-index: 4;
        }

@media screen and (max-width: 540px) {
    .droppable {
        height: unset;
        width: 40%;
        aspect-ratio: 1 / 1;
    }
}

/* нужны для определения границ блока */
    .top {
        position: absolute;

        width: 400px;
        height: 4px;

        background: #dd2020;
        z-index: 10000000;
    }

    .left {
        position: absolute;

        width: 4px;
        height: 400px;

        background: #20dd20;
        background: rgb(172, 255, 206);
        z-index: 10000000;
    }
/* нужны для определения границ блока */

/* аниммация в покое */
    /* аниммация в покое тело */
    @keyframes stay_pers_body {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    /* аниммация в покое хвост */
    @keyframes stay_pers_tail {
        0% {
            transform: rotate(280deg);
        }
        50% {
            transform: rotate(240deg);
        }
        100% {
            transform: rotate(280deg);
        }
    }

    /* аниммация в покое голова */
    @keyframes stay_pers_head {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(7px);
        }
        100% {
            transform: translateY(0px);
        }
    }

/* перетаскивание */
    /* аниммация перетаскивание тело */
    @keyframes move_body {
        0% {
            transform: rotate(90deg) translateX(50px);/* scale(.5)*/
        }
        50% {
            transform: rotate(100deg) translateX(50px);
        }
        100% {
            transform: rotate(90deg) translateX(50px);
        }
    }
    /* аниммация перетаскивание голова */
    @keyframes move_head {
        0% {
            transform: rotate(-60deg);
        }
        50% {
            transform: rotate(-70deg);
        }
        100% {
            transform: rotate(-60deg);
        }
    }

/* бег */
    /* аниммация бег нога 1 */
    @keyframes run_foot_one {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(20deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    /* аниммация бег нога 2 */
    @keyframes run_foot_two {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

/*анимация танец*/
    /* аниммация танец тело */
    @keyframes dance_body {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        15% {
            transform: translateY(5px) rotate(0deg);
        }
        25% {
            transform: translateY(5px) rotate(0deg);
        }
        50% {
            transform: translateY(-15px) rotate(0deg);
        }
        75% {
            transform: translateY(0px) rotate(0deg);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }
    /* аниммация танец нога 1 */
    @keyframes dance_foot_one {
        0% {
            transform: translateY(0px) rotate(25deg);
        }
        15% {
            transform: translateY(-5px) rotate(25deg);
        }
        25% {
            transform: translateY(-5px) rotate(25deg);
        }
        50% {
            transform: translateY(6px) rotate(0deg);
        }
        75% {
            transform: translateY(0px) rotate(0deg);
        }
        100% {
            transform: translateY(0px) rotate(25deg);
        }
    }
    /* аниммация танец нога 2 */
    @keyframes dance_foot_two {
        0% {
            transform: translateY(0px) rotate(-15deg);
        }
        15% {
            transform: translateY(-5px) rotate(0deg);
        }
        25% {
            transform: translateY(-5px) rotate(0deg);
        }
        50% {
            transform: translateY(6px) rotate(0deg);
        }
        75% {
            transform: translateY(0px) rotate(-25deg);
        }
        100% {
            transform: translateY(0px) rotate(-25deg);
        }
    }

    /* аниммация танец голова */
    @keyframes dance_head {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        15% {
            transform: translateY(10px) rotate(10deg);
        }
        25% {
            transform: translateY(10px) rotate(20deg);
        }
        50% {
            transform: translateY(-10px) rotate(0deg);
        }
        75% {
            transform: translateY(0px) rotate(-20deg);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }

/*анимайция кувырок*/
    /* аниммация кувырок тело */
    @keyframes rotate_body {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        20% {
            transform: translateY(10px) rotate(3deg);
        }
        35% {
            transform: translateY(10px) rotate(5deg);
        }
        40% {
            transform: translateY(-30px) rotate(180deg);
        }
        50% {
            transform: translateY(-30px) rotate(230deg);
        }
        85% {
            transform: translateY(10px) rotate(360deg);
        }
        100% {
            transform: translateY(0px) rotate(360deg);
        }
    }
    /* аниммация кувырок ноги */
    @keyframes rotate_foot {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        20% {
            transform: translateY(0px) rotate(0deg);
        }
        35% {
            transform: translateY(0px) rotate(0deg);
        }
        40% {
            transform: translateY(0px) rotate(20deg);
        }
        50% {
            transform: translateY(0px) rotate(230deg);
        }
        85% {
            transform: translateY(10px) rotate(360deg);
        }
        100% {
            transform: translateY(0px) rotate(360deg);
        }
    }

/*анимайция кушает*/
    /* аниммация кушает тело */
    @keyframes dinner_body {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    /* аниммация кушает голова */
    @keyframes dinner_head {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        20% {
            transform: translateY(-10px) rotate(30deg);
        }
        40% {
            transform: translateY(-10px) rotate(30deg);
        }
        50% {
            transform: translateY(20px) rotate(10deg);
        }
        60% {
            transform: translateY(20px) rotate(10deg);
        }

        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }
        /* аниммация кушает рот */
        @keyframes dinner_mouth {
            0% {
                height: 0px;
                transform: translateY(0px);
            }
            20% {
                height: 5px;
                transform: translateY(0px);
            }
            40% {
                height: 7px;
                transform: translateY(0px);
            }
            50% {
                height: 20px;
                transform: translateY(0px);
            }
            60% {
                height: 5px;
                transform: translateY(0px);
            }    
            100% {
                height: 0px;
                transform: translateY(0px);
            }
        }
